.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    transition: 0.3s;
    border-radius: 8px;
    width: auto;
    margin: 5rem 20rem;
    background-color: #f9f9f9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2rem;
  }
  
  .card-inner {
    margin-left: 50px;
    padding-bottom: 5rem;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .Firstname,
  .password {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    font-family: Helvetica, sans-serif;
    margin: 1rem 0;
    padding: 0.5rem;
  }
  
  .maintitle {
    color: #3e3e3e;
    text-align: center;
    font-family:  "HK Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
  
  .m-2 {
    display: block;
    margin-top: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .submit {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  button {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 16px;
    color: #333;
    background-color: #f2f2f2;
    transition: background-color 0.3s;
  }
  
  button:hover,
  button:focus {
    background-color:  #337ab7;
    color: #f2f2f2;
  }
  
  button:active,
  button.active,
  button:focus,
  button.focus {
    outline: none;
    background-color: #d9d9d9;
  }
  button:disabled {
    opacity: 0.4;
     outline: none;
    background-color: #d9d9d9;
    color: #333;
    cursor:not-allowed;
  }
  
  .error  {
    color: red;
  }

  input.ng-touched.ng-invalid {
    border: 2px solid red;
  }
  
  input.ng-touched.ng-valid {
    border: 2px solid green;
  }